<!-- Flask Inherited Template -->

{% extends "base.html" %}

{% block title %}Secrets{% endblock %}

{% block content %}
<div class="jumbotron">
    <div class="container">
    <h1>Welcome</h1>
    <p>Are you ready to discover my secret?</p>
    <form action="{{url_for('login_route')}}" method="get">
        <button type="submit">Go to login page</button>
    </form>
    <!-- <button class="btn btn-primary btn-lg" href=" {{ url_for('login_route') }} ">Go to Login Page</button> -->
    </div>
</div>
{% endblock %}